
{% extends 'base.html.twig' %}
        {% block content %}

        {# <h1 class="text-center mt-3">Videos</h1> #}
     
        {# <body>
          <pre>
          {{dump(categories[0]["videos"][0]['videoFilePath'])}}
          </pre>
        <ul id="nav">
          {% for category in categories %}
            <li>
              <a href="#">{{category['categoryName']}}</a>
              <ul>
                {% for video in category['videos'] %}
                <li><a data-url='videourl' href="#">{{video['videoName']|raw}}</a></li>
                {% endfor %}
              </ul>
            </li>
                {% endfor %}
              </ul> #}
              {# <div class="iframediv text-center">
                <iframe width="560" height="315" src="{{ path('video_download', {'filename':categories[0]["videos"][0]['videoFilePath'] }) }}" frameborder="0" allowfullscreen></iframe>
              </div> #}
              <div id="app" myProp="fuck you" >
                <App > </App>
            </div>
        {# </body>
    </main>  #}
        {% endblock %}

