
{% extends 'base.html.twig' %}
        {% block content %}

        <h1 class="text-center mt-3">Videos</h1>
     
        <body>
        <ul id="nav">
          {% for category in categories %}
            <li>
              <a href="#">{{category['categoryName']}}</a>
              <ul>
                {% for video in category['videos'] %}
                <li><a href="#">{{video['videoName']|raw}}</a></li>
                {# <li><a href="#">Sub-Item 1 b</a></li> #}
                {# <li><a href="#">Sub-Item 1 c</a></li> #}
                {% endfor %}
              </ul>
            </li>
                {% endfor %}
              </ul>

              <div id="app" myProp="fuck you" >
                <App > </App>
                {# <App myProp="{{ categories | json_encode | raw }}"> </App> #}
                {# <App {{ ':myProp="' ~ categories | json_encode | raw ~ '"' }}> </App> #}
            </div>
        </body>
    </main> 
        {% endblock %}

